{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DemoUI</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'styles.you-can-be-renaming-eg.v1.css' %}">
</head>
<body>
<body>
  <app-root></app-root>
	<script type="text/javascript" src="{% static 'runtime.you-can-be-renaming-eg.v1.js' %}"></script>
	<script type="text/javascript" src="{% static 'polyfills.you-can-be-renaming-eg.v1.js' %}"></script>
	<script type="text/javascript" src="{% static 'main.you-can-be-renaming-eg.v1.js' %}"></script>
</body>
</html>


